html{
	-webkit-font-smoothing:antialiased;
}

body {
	background: #f6f1e7;
}

.siteTitleWrap {
	margin: 0 auto;
	width: 388px;
}

#siteTitleLeft {	
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 50px;

}

#siteTitleRight {	
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 50px;

}

h1 {
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-size: 42px;
	text-align: center;
}

h2 {
	color: #8d8d8d;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.5px;
}



/*Header*/
.header{
	/*border:1px solid pink;*/
	width: 1080px;
	margin: 0 auto;
}
/*Cards*/
.gridWrapper {
	/*border: 1px solid red;*/
	width: 1080px;
	height: 500px;
	margin: 0 auto;
}

.cardWrapper {
	/*border: 1px solid blue;*/
	width: 255px;
}

.card {
	border: 1px solid #c8c7cc;
	background: #fff;
	width: 255px;
	height: 387px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 	
}

.cardHeader {
	border-bottom: 1px solid #c8c7cc;
	height: 36px;

}

.cardTitle {
	float: left;
	padding: 0 16px;
}

.cardElement {
	float: right;
	padding: 12px 16px;

}

.cardProfile {
	background: -webkit-linear-gradient(0deg, #e7e7e7, #f1f1f1); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(0deg, #e7e7e7, #f1f1f1); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(0deg, #e7e7e7, #f1f1f1); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(0deg, #e7e7e7, #f1f1f1); /* Standard syntax */
	border-bottom: 1px solid #c8c7cc;
	position: relative;
	height: 168px;
}

img.cardProfileImg {
	width: 160px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
  -webkit-filter: saturate(2);
  filter: saturate(2);
}


ul.cardColor {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.primaryColor {
	height: 52px;
}

.secondaryColor {
	height: 26px;
}

.roundBottomCorners {
	-moz-border-radius: 0 0 9px 9px;
	-webkit-border-radius: 0 0 9px 9px;
}


#squirtlePrimaryColorA {
	background-color: #71cee8;
}
#squirtlePrimaryColorB {
	background-color: #d97359;
}
#squirtleSecondaryColorA {
	background-color: #fae0ad;
}
#squirtleSecondaryColorB {
	background-color: #71cee8;
}
#squirtleSecondaryColorC {
	background-color: #e79b8a;
}

