html{
	-webkit-font-smoothing:antialiased;
}

body {
	background: #efefef;
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 0.5px;

}

.siteTitleWrap {
	margin: 0 auto;
	width: 388px;
}

#siteTitleLeft {	
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 50px;

}

#siteTitleRight {	
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 50px;

}

h1 {
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-size: 42px;
	text-align: center;
}

h2 {
	color: rgba(0,0,0,0.8);
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.5px;
}



/*Header*/

/*Cards*/
.wrapper {
	/*border: 1px solid red;*/
	width: 1080px;
	margin: 0 auto;
}

.cardWrapper {
	width: 255px;
}

.card li, .cardProfile {
	-moz-box-shadow: -1px 0 1px -1px rgba(0,0,0,0.3) inset, 1px 0 1px -1px rgba(0,0,0,0.3) inset;
	-webkit-box-shadow: -1px 0 1px -1px rgba(0,0,0,0.3) inset, 1px 0 1px -1px rgba(0,0,0,0.3) inset;
	box-shadow: -1px 0 1px -1px rgba(0,0,0,0.3) inset, 1px 0 1px -1px rgba(0,0,0,0.3) inset;
}

.card li:last-child {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	/*box-shadow: 0 1px 1px -1px rgba(0,0,0,0.5) inset;*/
	-moz-border-radius: 0 0 9px 9px;
	-webkit-border-radius: 0 0 9px 9px;
	border-radius: 0 0 9px 9px;
}



.card {
	position: absolute;
	z-index: 1;
/*	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;*/
	width: 255px;
	height: 390px;
	/*border: 1px solid;*/	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 	
}

.cardHeader {
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.5) inset, -1px 0 1px -1px rgba(0,0,0,0.5) inset, 1px 0 1px -1px rgba(0,0,0,0.5) inset;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.13);
	height: 36px;

}

.cardTitle {
	float: left;
	padding: 0 16px;
}

.cardElement {
	float: right;
	padding: 12px 16px;

}

.cardProfile {
	background: -webkit-linear-gradient(0deg, #e7e7e7, #f1f1f1); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(0deg, #e7e7e7, #f1f1f1); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(0deg, #e7e7e7, #f1f1f1); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(0deg, #e7e7e7, #f1f1f1); /* Standard syntax */
	border-bottom: 1px solid rgba(0,0,0,0.2);
	position: relative;
	height: 168px;
}

img.cardProfileImg {
	width: 160px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
  -webkit-filter: saturate(2);
  filter: saturate(2);
}


ul.cardColor {
	list-style-type: none;
	margin: 0;
	padding: 0;
}



.primaryColor {
	float: left;
	width: 223px;
	padding: 26px 16px 6px;
}

.secondaryColor {
	float: left;
	width: 223px;
	padding: 6px 16px 6px;
}


.roundTopCorners {
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}

.colorTitle {
	float: left;
}

.hex {
	float: right;
	text-transform: uppercase;
}

.dark{
	color: rgba(0,0,0,0.8);
}

.light {
	color: #fff;
}


#squirtlePrimaryColorA {
	background-color: #71cee8;
}
#squirtlePrimaryColorB {
	background-color: #d97359;
}
#squirtleSecondaryColorA {
	background-color: #fae0ad;
}
#squirtleSecondaryColorB {
	background-color: #71cee8;
}
#squirtleSecondaryColorC {
	background-color: #e79b8a;
}

