html{
	-webkit-font-smoothing:antialiased;
}

body {
	margin: 0;
	padding: 0;
	background: #F0F0F0;
	font-family: 'Cabin', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 15.6px;

}

/*------------------------*\
TYPOGRAPHY
\*------------------------*/
.siteTitle {
	text-align: center;
}

.siteTitleLeft {	
	font-weight: 700;

}

.siteTitleRight {	
	font-weight: 300;
	color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;

}

@media (max-width: 600px) {
  .reducto {
    font-size: 1.5rem;
  }
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 50px;
	line-height: 60px;
	margin: 0;
}

h2 {
	color: rgba(0,0,0,0.8);
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 16.8px
	letter-spacing: 0.5px;
}

.dark {
	color: rgba(0,0,0,0.8);
}

.light {
	color: #fff;
}

/*------------------------*\
HEADER & FOOTER
\*------------------------*/
#header{
	padding: 28px 0;
}

#footer {
	color: rgba(0,0,0,0.3);
}
.wrapper {
	/*border: 1px solid red;*/
	margin: 0 auto;
	max-width: 1060px;
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 8px 14px 14px;
}

/*------------------------*\
CARDS
\*------------------------*/

.columnWrapper {
	text-align: center;
	display: block;
	overflow-x: visible;
	overflow-y: visible;
	padding: 0 0 28px
}

	
.cardWrapper{
	width: 255px;
	display: inherit;
	position: relative;
}	

.card li:first-child {
	-moz-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.3) inset, -1px 0 1px -1px rgba(0,0,0,0.3) inset, 1px 0 1px -1px rgba(0,0,0,0.3) inset;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,0.3) inset, -1px 0 1px -1px rgba(0,0,0,0.3) inset, 1px 0 1px -1px rgba(0,0,0,0.3) inset;
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.3) inset, -1px 0 1px -1px rgba(0,0,0,0.3) inset, 1px 0 1px -1px rgba(0,0,0,0.3) inset;
}

.card li {
	-moz-box-shadow: -1px 0 1px -1px rgba(0,0,0,0.3) inset, 1px 0 1px -1px rgba(0,0,0,0.3) inset;
	-webkit-box-shadow: -1px 0 1px -1px rgba(0,0,0,0.3) inset, 1px 0 1px -1px rgba(0,0,0,0.3) inset;
	box-shadow: -1px 0 1px -1px rgba(0,0,0,0.3) inset, 1px 0 1px -1px rgba(0,0,0,0.3) inset;
}

.cardProfile {
	-moz-box-shadow: -1px 0 1px -1px rgba(0,0,0,0.5) inset, 1px 0 1px -1px rgba(0,0,0,0.5) inset;
	-webkit-box-shadow: -1px 0 1px -1px rgba(0,0,0,0.5) inset, 1px 0 1px -1px rgba(0,0,0,0.5) inset;
	box-shadow: -1px 0 1px -1px rgba(0,0,0,0.5) inset, 1px 0 1px -1px rgba(0,0,0,0.5) inset;
}
.card li:last-child {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	-moz-border-radius: 0 0 9px 9px;
	-webkit-border-radius: 0 0 9px 9px;
	border-radius: 0 0 9px 9px;
}

.column {
	/*border: 1px solid green;*/
	padding: 10px 0 10px;
	margin: 0 10px;
	display: inline-block;
	max-width: 255px;
	position: relative;
	vertical-align: top;

}

.card {
	/*border: 1px solid blue;*/
	display: inherit;
	padding: 10px 0 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	letter-spacing: 0.5px; 	
}

.cardHeader {
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.5) inset, -1px 0 1px -1px rgba(0,0,0,0.5) inset, 1px 0 1px -1px rgba(0,0,0,0.5) inset;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.13);
	height: 36px;

}

.cardTitle {
	float: left;
	padding: 0 16px;
}

.cardElement {
	float: right;
	padding: 12px 16px;

}

.cardProfile {

	background: white;
/*	border-bottom: 1px solid rgba(0,0,0,0.2);
*/	position: relative;
	height: 168px;

}

/*------------------------*\
doesn't work
\*------------------------*/
/*#bulbasaur {
	background: url ('../images/pokemon/g1_bulbasaur.png') 0 no-repeat;
	display: inline-block;
}*/
/*------------------------*\
doesn't work
\*------------------------*/

img.cardProfileImg {
	width: 160px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
  -webkit-filter: saturate(1.5);
  filter: saturate(1.5);
}


ul.cardColor {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/*------------------------*\
CARD ELEMENTS
\*------------------------*/
.elementWater {
	height: 12px;
	background: url('../images/waterIcon.png') 0 no-repeat;
	display: inline-block;
}

/*------------------------*\
COLORS
\*------------------------*/
.primaryColor {
	float: left;
	width: 223px;
	padding: 30px 16px 10px;
}

.secondaryColor {
	float: left;
	width: 223px;
	padding: 10px 16px 10px;
}


.roundTopCorners {
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}

.colorTitle {
	float: left;
}

.hex {
	float: right;
	font-family: 'Inconsolata';
	font-weight: 700;
	text-transform: uppercase;
}

.dark{
	color: rgba(0,0,0,0.8);
}

.light {
	color: #fff;
}

/*------------------------*\
  ANIMATIONS
\*------------------------*/

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


/*------------------------*\
UNIQUE POKEMON COLORS
\*------------------------*/


/*------------------------*\
COLUMN 1
\*------------------------*/
#bulbasaurPrimaryColorA {
	background-color: #7CD2A9;
}
#bulbasaurPrimaryColorB {
	background-color: #72BD80;
}
#bulbasaurSecondaryColorA {
	background-color: #2F8662;
}
#bulbasaurSecondaryColorB {
	background-color: #499B5F;
}
#bulbasaurSecondaryColorC {
	background-color: #CB8BA8;
}

#nidoranMPrimaryColorA {
	background-color: #c98ecd;
}
#nidoranMPrimaryColorB {
	background-color: #A668A7;
}
#nidoranMSecondaryColorA {
	background-color: #9A5EA9;
}
#nidoranMSecondaryColorB {
	background-color: #2A9F9C;
}
#nidoranMSecondaryColorC {
	background-color: #126E68;
}

/*------------------------*\
COLUMN 2
\*------------------------*/
#charmanderPrimaryColorA {
	background-color: #FFA26A;
}
#charmanderPrimaryColorB {
	background-color: #FAE5C2;
}
#charmanderSecondaryColorA {
	background-color: #FF5D2A;
}
#charmanderSecondaryColorB {
	background-color: #FFD94F;
}
#charmanderSecondaryColorC {
	background-color: #FF452A;
}

#jigglypuffPrimaryColorA {
	background-color: #ffc8d5;
}
#jigglypuffPrimaryColorB {
	background-color: #F0A5B4;
}
#jigglypuffSecondaryColorA {
	background-color: #4D5772;
}
#jigglypuffSecondaryColorB {
	background-color: #008AA5;
}
#jigglypuffSecondaryColorC {
	background-color: #7DCBDA;
}

/*------------------------*\
COLUMN 3
\*------------------------*/
#pikachuPrimaryColorA {
	background-color: #FFD062;
}
#pikachuPrimaryColorB {
	background-color: #F2C25A;
}
#pikachuSecondaryColorA {
	background-color: #946231;
}
#pikachuSecondaryColorB {
	background-color: #FB5041;
}
#pikachuSecondaryColorC {
	background-color: #FD6351;
}

#meowthPrimaryColorA {
	background-color: #faecbf;
}
#meowthPrimaryColorB {
	background-color: #CE893E;
}
#meowthSecondaryColorA {
	background-color: #FFD185;
}
#meowthSecondaryColorB {
	background-color: #FFDA9C;
}
#meowthSecondaryColorC {
	background-color: #635D58;
}
/*------------------------*\
COLUMN 4
\*------------------------*/
#squirtlePrimaryColorA {
	background-color: #71cee8;
}
#squirtlePrimaryColorB {
	background-color: #d97359;
}
#squirtleSecondaryColorA {
	background-color: #fae0ad;
}
#squirtleSecondaryColorB {
	background-color: #71cee8;
}
#squirtleSecondaryColorC {
	background-color: #e79b8a;
}

#togepiPrimaryColorA {
	background-color: #FFEAA5;
}
#togepiPrimaryColorB {
	background-color: #FBF9F3;
}
#togepiSecondaryColorA {
	background-color: #BCFFFF;
}
#togepiSecondaryColorB {
	background-color: #31B1DE;
}
#togepiSecondaryColorC {
	background-color: #E95831;
}
